In [301]:
import dash
from dash import dcc, html, Dash, Input, Output
import pandas as pd
import geopandas as gpd
import plotly.graph_objects as go
import plotly.express as px
import json

# Load your shapefile and apartment listing data
rent_path = '/Users/Maciek/Desktop/Mieszkania/scrape_listings/otodom_listings/scrape_listings/data/clean/rent_listings_clean_2023-10-14.csv'
sale_path = '/Users/Maciek/Desktop/Mieszkania/scrape_listings/otodom_listings/scrape_listings/data/clean/listings_clean_2023-10-14.csv'
geojson_path = '/Users/Maciek/Desktop/Mieszkania/scrape_listings/otodom_listings/dashboard_listings/data/dzielnice_Warszawy/wwa-geo.json'
df_rent = pd.read_csv(rent_path)
df_sale = pd.read_csv(sale_path)
geojson = json.load(open(geojson_path))

In [302]:
# #CONVERT SHAPEFILE TO GEOJSON
# gdf = gpd.read_file('/Users/Maciek/Desktop/Mieszkania/scrape_listings/otodom_listings/dashboard_listings/data/dzielnice_Warszawy/dzielnice_Warszawy.shp')
# gdf.to_crs(epsg=4326, inplace=True)
# gdf.to_file('/Users/Maciek/Desktop/Mieszkania/scrape_listings/otodom_listings/dashboard_listings/data/dzielnice_Warszawy/wwa-geo.json', driver = 'GeoJSON')
# with open('/Users/Maciek/Desktop/Mieszkania/scrape_listings/otodom_listings/dashboard_listings/data/dzielnice_Warszawy/wwa-geo.json') as geofile:
#     jdataNo = json.load(geofile)

In [303]:
#######
# DATA PREP
# drop rows with no price
df_sale = df_sale[df_sale['price'].notnull()]

# strip whitespaces from district names
df_sale['district'] = df_sale['district'].str.strip()
df_rent['district'] = df_rent['district'].str.strip()

# delete obscenely high rents (mistakes)
df_rent = df_rent[df_rent['rent']<50000].reset_index(drop=True)
# group rent listings to obtain average rent per meter in district/nbrhood
rent_district_group = df_rent.groupby('district').mean()
rent_nbrhood_group = df_rent.groupby('nbrhood').mean()
rent_per_meter_grouping_district = rent_district_group['rent']/rent_district_group['area_x']
rent_per_meter_grouping_nbrhood = rent_nbrhood_group['rent']/rent_nbrhood_group['area_x']
rent_per_meter_grouping_district = rent_per_meter_grouping_district.reset_index().rename({0: "average_rent_per_sq_meter_district"}, axis=1)
rent_per_meter_grouping_nbrhood = rent_per_meter_grouping_nbrhood.reset_index().rename({0: "average_rent_per_sq_meter_nbrhood"}, axis=1)

df_sale = df_sale.merge(rent_per_meter_grouping_district, on='district', how='left')
df_sale = df_sale.merge(rent_per_meter_grouping_nbrhood, on='nbrhood', how='left')

In [304]:
# create id in geojson to match with district names in df
for i in range(len(geojson['features'])):
    geojson['features'][i]['id'] = i

In [305]:
# create a dictionary with district names and ids from geojson
districts = {}
for i in geojson['features']:
    districts[i['properties']['nazwa_dzie']] = i['id']

In [306]:
# map district ids to names in df_sale
df_sale['district_id'] = df_sale['district'].map(districts)
df_sale['district_id'] = df_sale['district_id'].fillna(df_sale['district_id'].max()+1).astype(int)

In [307]:
# calculate potential broker fee for each listing
def get_broker_fee(adv_type):
    if adv_type in ['biuro nieruchomości', 'no data']:
        return 0.025
    else:
        return 0
    
df_sale['broker_fee'] = df_sale['advertiser_type'].apply(get_broker_fee).astype(float)

In [308]:
# calculate ROI
total_investment = df_sale['price'] + df_sale['broker_fee']*df_sale['price']
annual_rent = df_sale['average_rent_per_sq_meter_district']*df_sale['area']*12
df_sale['ROI'] = annual_rent/total_investment

# calculate price per sq meter
df_sale['price_per_sq_meter'] = df_sale['price']/df_sale['area']

In [321]:
grouping = (df_sale
            .groupby('district')
            .mean()
            .reset_index()
            .dropna()
            .drop(['rooms_No', 'district_id', 'area', 'broker_fee', 'average_rent_per_sq_meter_nbrhood'], axis=1)
            .round(2)
            .sort_index()
)

In [322]:
grouping

,district,price,rooms_No,area,average_rent_per_sq_meter_district,average_rent_per_sq_meter_nbrhood,district_id,broker_fee,ROI,price_per_sq_meter
0,Bemowo,9.486747e+05,2.793187,63.292096,72.847857,71.129186,17.0,0.000000,0.058661,15367.078936
1,Białołęka,6.618829e+05,2.740873,57.117512,67.382318,65.546309,16.0,0.001135,0.069819,11842.493601
2,Bielany,9.584265e+05,2.633570,59.340502,76.592107,76.245746,15.0,0.002246,0.060956,16055.352818
3,Błonia Wilanowskie,1.350000e+06,3.000000,NaN,NaN,NaN,18.0,0.000000,NaN,NaN
4,Chomiczówka,7.790000e+05,3.000000,NaN,NaN,NaN,18.0,0.000000,NaN,NaN
5,Józefów,9.650000e+05,3.000000,89.000000,NaN,NaN,18.0,0.000000,NaN,10842.696629
6,Kawęczyn-Wygoda,7.882750e+05,4.000000,70.000000,NaN,NaN,18.0,0.000000,NaN,11261.071429
7,Konstancin-Jeziorna,3.300000e+06,5.000000,NaN,NaN,NaN,18.0,0.000000,NaN,NaN
8,Marki,8.350000e+05,4.000000,NaN,50.000000,NaN,18.0,0.000000,NaN,NaN
9,Michałowice,6.095000e+05,2.000000,50.000000,40.000000,40.000000,18.0,0.000000,0.038772,12380.000000
10,Mokotów,1.553209e+06,2.833333,72.184864,86.064045,85.038005,2.0,0.002597,0.056013,19409.391976
11,Młynów,7.400000e+05,2.000000,37.000000,NaN,NaN,18.0,0.000000,NaN,20000.000000
12,Ochota,1.143000e+06,2.613065,59.736434,79.807826,80.556426,14.0,0.000942,0.052464,19303.227091
13,Piaseczno,1.150000e+06,4.000000,92.000000,NaN,NaN,18.0,0.000000,NaN,12500.000000
14,Piastów,8.010000e+05,4.125000,99.285714,NaN,NaN,18.0,0.000000,NaN,8203.905410
15,Powsinek,1.790000e+06,4.000000,NaN,NaN,NaN,18.0,0.000000,NaN,NaN
16,Praga-Południe,9.518670e+05,2.643172,59.128535,77.024631,74.785548,1.0,0.000808,0.061781,15790.242362
17,Praga-Północ,8.957866e+05,2.584475,54.026316,90.769420,89.954340,10.0,0.000000,0.069077,16827.956045
18,Rembertów,5.865734e+05,2.537383,46.961326,70.054156,72.727343,13.0,0.008995,0.071253,11929.261079
19,Sady Żoliborskie,1.617000e+06,3.000000,NaN,NaN,NaN,18.0,0.000000,NaN,NaN
20,Sadyba,6.250000e+05,3.000000,47.000000,72.916667,NaN,18.0,0.000000,0.065800,13297.872340
21,Stare Babice,7.500000e+05,2.000000,40.000000,64.367816,64.367816,18.0,0.000000,0.042912,18000.000000
22,Stary Mokotów,9.200000e+05,2.000000,34.000000,NaN,NaN,18.0,0.000000,NaN,27058.823529
23,Stegny,6.600000e+05,3.000000,56.000000,96.774194,NaN,18.0,0.000000,0.098534,11785.714286
24,Sulejówek,7.300000e+05,4.000000,66.000000,NaN,NaN,18.0,0.000000,NaN,11060.606061
25,Targówek,8.499734e+05,2.891892,58.322404,71.604333,69.004054,12.0,0.000000,0.066456,13197.321496
26,Ursus,7.332928e+05,2.661578,55.091216,80.124592,87.461318,11.0,0.003372,0.073014,13448.550063
27,Ursynów,1.112302e+06,2.941088,68.885787,60.056666,70.678180,8.0,0.000000,0.045316,16700.637036
28,Wawer,8.285012e+05,3.412371,70.985401,66.090530,62.716001,6.0,0.001804,0.066883,12383.922369
29,Wesoła,8.402342e+05,3.397959,75.418182,55.832253,64.918891,5.0,0.000765,0.061179,11560.455997
30,Wilanów,1.547192e+06,3.035047,76.297778,87.382915,86.072072,4.0,0.000000,0.058076,18762.531338
31,Wola,1.219737e+06,2.526786,58.884615,109.016636,104.312335,3.0,0.003508,0.068074,20109.264606
32,Wyględów,1.129200e+06,2.000000,52.000000,NaN,NaN,18.0,0.000000,NaN,21715.384615
33,Włochy,9.243178e+05,2.500000,52.647399,59.286645,77.413498,7.0,0.000846,0.046382,15693.199498
34,Ząbki,7.260317e+05,3.181818,77.285714,NaN,NaN,18.0,0.000000,NaN,10200.870044
35,Łomianki,9.800000e+05,4.000000,96.000000,NaN,NaN,18.0,0.000000,NaN,10208.333333
36,Śródmieście,2.032432e+06,2.729864,75.121951,126.590951,118.336085,9.0,0.000000,0.067692,25239.996635
37,Żoliborz,1.529365e+06,2.863014,67.107527,87.267114,87.287386,0.0,0.000000,0.053898,20225.083796